{% extends 'base.html' %}

{% block title%}
    Skills-Web
{% endblock %}


<!-- This page needs a form that can capture data about the user's
first name, last name, job title, and salary requirements. -->
    

{% block body %}

    <h1>Career-Opportunities</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <h3>Interested in Applying?</h3>

    <div>
        <form action="/application" method="POST">
            <label for="first-name">
                First Name:
                <input type="text" name="first-name" id="first-name">
            </label>

            <label for="last-name">
                Last Name:
                <input type="text" name="last-name" id="last-name">
            </label>
  
            <label for="salary-requirements">
                Salary Requirements:
                <input type="number" name="salary" id="last-name">
            </label>

            <label for="job-titles">
                Jobs:
                <select name="job-titles" id="job-titles">
                    <option value="Software Engineer">Software Engineer</option>
                    <option value="QA Engineer">QA Engineer</option>
                    <option value="Product Manager">Product Manager</option>
                </select>
            </label>

            <input type="submit"> 
            <!-- name="submit" value="Submit" ARE OPTIONAL 
            name is not needed at all
            value is if you want to change what the button says -->

            <!-- think of submit button as one form submission -->

        </form>
    </div>

{% endblock %}